@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap');

.body-account {
    width: 100%;
    height: calc(100vh - 3.3rem);
    background-color: whitesmoke;
    position: relative;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.body-account-part {
    position: relative;
    float: left;
    margin-left: calc(50% - 17rem);
    width: 34rem;
    height: 30rem;
    overflow: hidden;
    border-left: 0.3rem solid white;
    border-right: 0.3rem solid white;
    border-bottom: 0.3rem solid white;
    background-color: whitesmoke;
}

.body-account-signin {
    margin-top: 5rem;
    position: relative;
    float: left;
    width: 16.95rem;
    height: 20rem;
    border-right: 0.05rem solid white;
}

.body-account-signup {
    margin-top: 5rem;
    position: relative;
    float: left;
    width: 16.95rem;
    height: 20rem;
    border-left: 0.05rem solid white;
}

.body-acc-idtext {
    position: relative;
    float: left;
    margin-top: 3.25rem;
    margin-left: 2.65rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-account-id {
    position: relative;
    float: left;
    margin-top: 3rem;
    margin-left: 1rem;
    width: 8rem;
    height: 1rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-pwdtext {
    position: relative;
    float: left;
    margin-top: 1.25rem;
    margin-left: 3.15rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-acc-repwdtext {
    position: relative;
    float: left;
    margin-top: 1.25rem;
    margin-left: 2.25rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-account-pwd {
    position: relative;
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
    height: 1rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-pntext {
    position: relative;
    float: left;
    margin-top: 1.25rem;
    margin-left: 3.3rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-account-pn {
    position: relative;
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
    height: 1rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-inup {
    position: absolute;
    top: 16rem;
    left: calc(50% - 4rem);
    width: 8rem;
    height: 1.8rem;
    background-color: whitesmoke;
    font-family: 'Teko', sans-serif;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    border: 0.1rem solid white;
    cursor: pointer;
}

.body-acc-inup:hover {
    background-color: #EEEEEE;
    color: white;
    transition: 0.3s;
}

.body-acc-in-as:hover {
    background-color: #EEEEEE;
    color: white;
    transition: 0.3s;
}

.accas-txt {
    position: relative;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 5rem;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.signin-form {
    position: relative;
    float: left;
    width: 20rem;
    height: 15rem;
    margin-top: 5rem;
    margin-left: calc(50% - 10rem);
}

.body-acc-idtext-as {
    position: relative;
    float: left;
    margin-left: 4rem;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-account-id-as {
    position: relative;
    float: left;
    width: 8rem;
    height: 1rem;
    margin-left: 1rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-pwdtext-as {
    position: relative;
    float: left;
    margin-left: 4rem;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-account-pwd-as {
    position: relative;
    float: left;
    width: 8rem;
    height: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.25rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-in-as {
    position: relative;
    margin-left: calc(50% - 4rem);
    width: 8rem;
    height: 1.8rem;
    margin-top: 3rem;
    background-color: whitesmoke;
    font-family: 'Teko', sans-serif;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    border: 0.1rem solid white;
    cursor: pointer;
}

.body-acc-userinfo {
    position: relative;
    float: left;
    width: 16rem;
    height: 2rem;
    margin-left: calc(50% - 8rem);
}

.body-acc-info-id {
    position: relative;
    float: left;
    margin-left: 3rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-acc-info-user {
    position: relative;
    float: left;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-acc-info-text-pwd {
    position: relative;
    float: left;
    margin-left: 3.5rem;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-acc-info-text-repwd {
    position: relative;
    float: left;
    margin-left: 2.6rem;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-acc-info-pwd {
    position: relative;
    float: left;
    width: 8rem;
    height: 1rem;
    margin-left: 1.5rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-info-text-pn {
    position: relative;
    float: left;
    margin-left: 3.65rem;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.8rem;
}

.body-acc-info-pn {
    position: relative;
    float: left;
    width: 8rem;
    height: 1rem;
    margin-left: 1.5rem;
    font-size: 0.6rem;
    font-family: 'Turret Road', cursive;
    font-weight: lighter;
}

.body-acc-info-top {
    width: 100%;
    height: 10rem;
    float: left;
    position: relative;
}

.body-acc-info-top-action {
    width: 100%;
    height: 10rem;
    float: left;
    position: relative;
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    line-height: 10rem;
    text-align: center;
}